:root {
    --fundo-primario: #273036;
    --fundo-secundario: whitesmoke;

    --txt-fundo-claro: #2f3542;
    --txt-fundo-escuro: #ffffff;

    --border: 8px;
    --rem: 1rem;

    --shadow: 0 0 3px black;
}